pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
youtube-dl
nltk
pdfminer3
spacy==2.3.5
scikit-learn
requests
beautifulsoup4
duckduckgo-search  # optional, for clean search
